<header class="navbar navbar-expand-lg">
    <div class="container-fluid">
    
    
        <a class="navbar-brand" href="/" [routerLink]="['/']">
            <h2><img src="img/logo.png" alt="logo"></h2>
        </a>


        <button 
            class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#menuMobile" >
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse justify-content-end" id="menuMobile">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/" [routerLink]="['/']">Bâtiment</a></li>
                <li class="nav-item"><a class="nav-link" href="/" [routerLink]="['/']">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="/" [routerLink]="['/']">Fabrication</a></li>
                <li class="nav-item"><a class="nav-link" href="/" [routerLink]="['/']">Alimentation</a></li>
                <li class="d-flex align-items-center">
                    <input type="text" class="form-control me-2" placeholder="Recherche">
                    <button type="button" class="btn btn-primary">🔍</button>
                </li>
            </ul>
        </div>
        
        
    </div>
</header>
