img {
    width: 200px;
    border-radius: 10px;
}
.navbar {
    background-color: #00497C;
}
.nav-link {
    color: #82B864;
    font-size: 20px;
    font-weight: 800;
    max-width: 200px;
    margin-left: 5px;
}
.nav-link:hover {
    color: #eeeeee;
}
.nav-link:active {
    color: rgb(170, 170, 170);
}
.navbar-toggler {
    border: 2px solid #fff;
    background-color: transparent;
}
.navbar-toggler-icon { 
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='%23FFFFFF' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2 12.5h12v-1H2v1zm0-5h12v-1H2v1zm0-5h12v-1H2v1z'/%3E%3C/svg%3E"); 
}
