<div class="background">
    <img src="img/travail.png" alt="Homme qui travail le bois">
</div>

<hr>

<div class="container containerPoints">
    <div class="row">

        <div class="col-md-6 col-sm-12">
            <div class="points">
                <h3>1 - Choisir sa catégorie d'Artisan</h3>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="points">
                <h3>2 - Choisir un Artisan</h3>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="points">
                <h3>3 - Le contacter via un formulaire</h3>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="points">
                <h3>4 - Une réponse sous 24 heures</h3>
            </div>
        </div>

    </div>
</div>

<div class="container titre">
    <h3>Les Artisans du mois :</h3>
</div>

<div class="container bestArtisans">
    <div class="row">
        <div class="col-md-4 col-sm-12 artisan" *ngFor="let artisan of artisans">
            <div class="artisans">
            <h2>{{ artisan.name }}</h2>
            <h3>{{ artisan.specialty }}</h3>
            <p>{{ artisan.note }} sur 5 ☆</p>
            <p>{{ artisan.location }}</p>
            <img src="{{ artisan.image }}" alt="{{ artisan.alt }}">
            <a [routerLink]="['/artisan', artisan.id]">Voir profil</a>
        </div>
        </div>
    </div>
</div>

<hr>