<div>
    <img src="img/travail.png" alt="Homme qui travail le bois">
</div>

<hr>

<div class="container containerPoints">
    <div class="row">

        <div class="col-md-6 col-sm-12">
            <div class="points">
                <h3>1 - Choisir sa catégorie d'Artisan</h3>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="points">
                <h3>2 - Choisir un Artisan</h3>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="points">
                <h3>3 - Le contacter via un formulaire</h3>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="points">
                <h3>4 - Une réponse sous 24 heures</h3>
            </div>
        </div>

    </div>
</div>

<hr>