.containerFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 20px;
    padding-bottom: 10px;
}

img {
    width: 100%;
    max-width: 300px; 
}

footer {
    background-color: #00497C;
    color: white;
}
.containerFooter a {
    text-decoration: none;
    color: white;
}
.containerFooter a:hover {
    color: #82b864;
    font-weight: 700;
}
.containerFooter a:active {
    color: #ffffff;
    font-weight: 700;
}