<footer>
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-12 containerFooter">
                <img src="img/logo.png" alt="logo">
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 containerFooter">
                <div>1 rue Antoinette</div>
                <div>69007 Lyon</div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 containerFooter">
                <ul>
                    <li><a [routerLink]="['/batiment']">Batiment</a></li>
                    <li><a [routerLink]="['/services']">Services</a></li>
                    <li><a [routerLink]="['/fabrication']">Fabrication</a></li>
                    <li><a [routerLink]="['/alimentation']">Allimentation</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 containerFooter">
                <ul>
                    <li><a [routerLink]="['/']">Mentions légales</a></li>
                    <li><a [routerLink]="['/']">Données perso</a></li>
                    <li><a [routerLink]="['/']">Accessibilité</a></li>
                    <li><a [routerLink]="['/']">Cookies</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>  
